.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-image {
    background-image: url('https://cdn.pixabay.com/photo/2015/10/02/15/00/diary-968592_960_720.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fcon{
    margin-top: 150px !important;
}

.mcar{
    margin-top: 100px !important;
    
}

#articoli{
    background-color: lightsteelblue;
}

.bordo{
    border-top: solid 5px black;
}

.navbar{
    background-color: rgba(50, 96, 128, 0.294);
}

#contatti{
    background-color: lightcyan;
}

.button-5{
    display:inline-block;
    padding: 14px 50px;
    text-decoration: none;
    color: white;
    background-color: #79b4ec;
    border-radius: 30px;
    text-transform: uppercase;
}

.button-5:hover{
    animation-name: zoom;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes zoom{
    0%{transform: scale(1);}
    25%{transform: scale(1.2);}
    50%{transform: scale(1);}
    75%{transform: scale(1.2);}
    100%{transform: scale(1);}
}

.card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('https://cdn.pixabay.com/photo/2018/01/21/14/33/subscribe-3096723_960_720.jpg');
    background-size: cover;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google {
    color: white !important;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white !important;
    background-color: #3b5998;
  }

  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google {
    color: white !important;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white !important;
    background-color: #3b5998;
  }

  .left-column{
    border: solid 5px #012c56;
    position: relative;
    top: -20px;
    left: 50px;
    z-index: 2;
    transition: 0.4s;
  }

  .left-column:hover{
    top: 0px;
    left: 0px;
  }

  .right-color{
    border: solid 5px royalblue;
  }

  .grab{
    cursor: grab;
  }

  /* #homepage{
    background-color: #d7dde0;
  } */

  .contorno{
    border: inset 3px black;
  } 

  @media screen and (max-width: 800px) {
    .left-column{
      position: static;
    }
  }
  
  .bordino{
    border: inset 3px white;
  }

  .button-2{
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: 0.4s;
    background: linear-gradient(90deg, green 50%, black 50%);
    background-size: 200%;
    background-position: 0px 0px;
    position: relative;
  }

  .button-2:hover{
    background-position: -120% 0px;
    color: white;
  }

  .button-3{
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: 0.4s;
    background: linear-gradient(90deg, orange 50%, red 50%);
    background-size: 200%;
    background-position: 0px 0px;
    position: relative;
  }

  .button-3:hover{
    background-position: -120% 0px;
    color: white;
  }

  .troncamento{
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; 
  overflow: hidden;
  }

  .card-body{
    background-color: beige;
  }

  .blog-post{
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: rgba(187, 222, 250, 0.541);
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
  }

  .blog-post__img{
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
  }

  .blog-post__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
  }

  .blog-post__img::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background: linear-gradient(to right, rgba(79,172,254,.8),
                                            rgba(0,242,254,.8)); */
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .05);
    border-radius: .8rem;
  }

  .blog-post__date span{
    display: block;
    color: rgba(0, 0, 0, .5);
    margin: .5rem 0;
  }

  .blog-post__title{
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
  }

  .blog-post__text{
    margin-bottom: 3rem;
    color: rgba(0, 0, 0, .7);
  }


  @media screen and (max-width: 768px) {
    .blog-post{
      padding: 2.5rem;
      flex-direction: column;
    }

    .blog-post__img{
      min-width: 100%;
      max-width: 100%;
      transform: translate(0,-2rem);
    }
  }

  .img-details{
    width: 100%;
  }
